/* VARIABLES */
:root {
  --blue: rgb(6, 6, 175);
  --yellow: rgb(255, 174, 0);
  --darkorange: rgb(136, 69, 2);
}

/* INITIAL */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* NAVIGATION */

#head {
  background-color: var(--darkorange);
  padding: 15px 20px;
  font-weight: 800;
  max-width: 98%;
  position: sticky;
  top: 0;
  font-family: "Truculenta", sans-serif;
}

.welcome_message {
  text-align: center;
  padding: 10rem 0;
  font-size: 40px;
  background-color: var(--blue);
  color: var(--yellow);

  transition: all 0.5s ease-in;
}

.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
li a {
  padding: 0 40px;
  font-size: 20px;
  cursor: pointer;
  color: var(--yellow);
  text-decoration: none;
  transition: all 0.4s ease-in;
}
li a:hover {
  color: var(--blue);
}
.initial {
  display: flex;
  justify-content: space-between;
}

/* Home */
.initial_message {
  max-width: 100%;
  padding: 4rem;
  padding-left: 10rem;
  font-size: 25px;
  font-weight: 800;
  background-color: var(--yellow);
  color: var(--blue);
  font-family: "Truculenta", sans-serif;
  transition: all 0.5s ease-in;
}

.initial_message h2 {
  padding-left: 10%;
}
.initial_message h3 {
  padding-left: 30%;
}
.initial_message h4 {
  padding-left: 50%;
}
.initial_message h5 {
  padding-left: 60%;
  transition: all 0.5s ease-in;
}

.initial_message h5 a {
  text-decoration: none;
  color: var(--blue);
}
.initial_message h5:hover {
  transform: scale(1.1);
}

/* ABOUT SECTION */
.about {
  max-width: 100%;
  padding: 2rem;
  text-align: justify;
  background-color: var(--blue);
  color: var(--yellow);
  font-family: "Truculenta", sans-serif;
  transition: all 0.5s ease-in;
}
.about_part {
  max-width: 90%;
  margin: 0 auto;
  transition: all 0.5s ease-in;
}
.about h1 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 2rem;
  font-size: 6vw;
  font-weight: 900;
  transition: all 0.5s ease-in;
}
.about p {
  font-size: 1.5vw;
  color: rgb(247, 245, 244);
  letter-spacing: 1.5px;
  transition: all 0.5s ease-in;
}

/* CONTACT */
.foot {
  background-color: var(--yellow);
  color: var(--blue);
  font-weight: 600;
  font-family: sans-serif;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
  padding: 8rem 1rem;

  transition: all 0.5s ease-in-out;
}
.contact_form {
  text-align: right;
}
.contact_form .field_input {
  margin: 20px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.contact_form textarea {
  margin: 0 6px;
  padding: 6px;
  width: 20rem;
  resize: none;
}

.contact_form input {
  margin-left: 35px;
  padding: 6px;
  width: 20rem;
  height: 1.5rem;
}

.contact_form .send_button {
  width: 82%;
  padding: 10px 0;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--yellow);
  border: none;
  border-radius: 8px;
  font-weight: 800;
  font-size: 15px;
  transition: all 0.5s ease-in-out;
}

.copy {
  text-align: center;
  background-color: var(--blue);
  color: var(--yellow);
  font-weight: 800;
  font-family: "Truculenta", sans-serif;
  letter-spacing: 1.5px;
  padding: 10px 0;
}
.logo {
  width: 200px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.logo img:first-child {
  width: 100%;
  box-shadow: 0px 10px 15px -3px rgb(16, 0, 245, 0.7);
  border-radius: 8px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.logo img:last-child {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.logo:hover img:first-child {
  transform: perspective(250px) rotateX(80deg);
  opacity: 0.8;
}
.logo:hover img:last-child {
  opacity: 1;
  transform: translateY(-45px);
}
.logo .bank_name {
  width: 100%;
  display: flex;
  position: absolute;
  top: 80%;
}

.logo .bank_name h1 {
  opacity: 0;
  transform: scale(4);
  transition: all 0.5s ease-in-out;
}

.logo:hover .bank_name h1 {
  opacity: 1;
  transform: scale(1);
}

.logo:hover .bank_name #s {
  transition-delay: 0.1s;
}
.logo:hover .bank_name #a {
  transition-delay: 0.2s;
}
.logo:hover .bank_name #f {
  transition-delay: 0.3s;
}
.logo:hover .bank_name #e {
  transition-delay: 0.4s;
}
.logo:hover .bank_name #sapce {
  transition-delay: 0.5s;
}
.logo:hover .bank_name #b {
  transition-delay: 0.6s;
}
.logo:hover .bank_name #A {
  transition-delay: 0.7s;
}
.logo:hover .bank_name #n {
  transition-delay: 0.8s;
}
.logo:hover .bank_name #k {
  transition-delay: 0.9s;
}
/* MEDIA QUERRY */

@media screen and (max-width: 832px) {
  .contact_form textarea {
    width: 10rem;
  }
  .contact_form input {
    width: 10rem;
  }
  .contact_form .send_button {
    width: 70%;
  }
  .contact {
    flex-direction: column;
  }
  .contact_form {
    margin: 10px auto;
  }
  .logo {
    display: none;
  }
}

@media screen and (max-width: 628px) {
  nav {
    max-width: 98%;
  }
  .welcome_message {
    font-size: 20px;
  }

  li a {
    padding: 0 10px;
    font-size: 15px;
  }
  nav {
    padding: 0 6px;
  }
  .navigation .login {
    padding: 0 10px;
  }
  .initial_message {
    font-size: 15px;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 481px) {
  li a {
    padding: 2px 8px;
    font-size: 10px;
  }
}
