/* VARIABLES */
:root {
  --blue: rgb(6, 6, 175);
  --yellow: rgb(255, 174, 0);
  --darkorange: rgb(136, 69, 2);
}

/* INITIAL */
* {
  padding: 0;
  margin: 0;
  font-family: "Truculenta", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: var(--yellow);
}

/* NAVIGATION */

#head {
  background-color: var(--darkorange);
  padding: 10px 20px;
  font-weight: 800;
  max-width: 98.9%;
  position: sticky;
  top: 0;
  transition: all 0.5s;
  z-index: 10;
}

.navigation {
  list-style: none;
}
.navigation li {
  text-align: right;
}
.navigation li a {
  padding: 0 40px;
  font-size: 20px;
  cursor: pointer;
  color: var(--yellow);
  text-decoration: none;
  transition: all 0.4s ease-in;
}
.navigation li a:hover {
  color: var(--blue);
}
#home_button {
  display: none;
}

.message {
  text-align: center;
  font-size: 20px;
  margin: 2rem 0;
  color: var(--yellow);
  font-weight: 900;
}
#form_message {
  margin: 8px 0;
}

#user_details_form {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
  max-width: 50%;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--blue);
  box-shadow: 2px 2px 20px 20px black;
  transition: all 0.5s ease-in;
}
#user_details_form input {
  padding: 8px 6px;
  font-size: 15px;
  font-weight: 800;
  border: none;
  border-radius: 8px;
  color: var(--blue);
}
#user_details_form input:disabled {
  cursor: not-allowed;
}

#user_details_form #account_number {
  color: var(--yellow);
}

#update_button {
  padding: 8px 6px;
  font-size: 15px;
  font-weight: 800;
  background-color: var(--yellow);
  color: var(--blue);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

#update_button:hover {
  background-color: rgb(175, 121, 4);
}

#update_button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.eye {
  background-color: transparent;
  border: none;
  font-size: 15px;
  width: 20px;
  position: absolute;
  top: 11rem;
  right: 2.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.eye:hover {
  opacity: 0.5;
}
#open_eye {
  display: none;
}

#delete_user_button {
  padding: 8px 6px;
  font-size: 15px;
  font-weight: 800;
  background-color: rgb(156, 0, 0);
  color: var(--yellow);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
#delete_user_button:hover {
  opacity: 0.7;
}

#delete_user_button:disabled {
  cursor: not-allowed;
  background-color: gray;
}

/* LOADING */
#loader {
  width: 2rem;
  height: 2rem;
  border: 3px solid var(--yellow);
  border-radius: 50%;
  margin: 0 auto;
  border-top-color: var(--blue);
  animation: loading 0.8s;
  animation-iteration-count: infinite;
}
@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 560px) {
  #user_details_form {
    max-width: 80%;
  }
}
