/* VARIABLES */
:root {
  --blue: rgb(6, 6, 175);
  --yellow: rgb(255, 174, 0);
  --darkorange: rgb(136, 69, 2);
}

/* INITIAL */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background-color: var(--yellow);
}

/* NAVIGATION */

#head {
  background-color: var(--darkorange);
  padding: 15px 20px;
  font-weight: 800;
  max-width: 98.9%;
  position: sticky;
  top: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
li a {
  padding: 0 40px;
  font-size: 20px;
  cursor: pointer;
  color: var(--yellow);
  text-decoration: none;
  transition: all 0.4s ease-in;
}
li a:hover {
  color: var(--blue);
}
.initial {
  display: flex;
  justify-content: space-between;
}
/* MAIN */
main {
  max-width: 60%;
  margin: 6rem auto;
  background-color: var(--blue);
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 20px black;
  animation: slide_in 0.5s;
  animation-iteration-count: 1;

  transition: all 0.5s ease-in-out;
}

/* FORGOT PASSWORD */

form {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.5s ease-in;
}

form input {
  padding: 0.6rem;
  width: 96.5%;
  border-radius: 6px;
  background-color: var(--yellow);
  color: var(--blue);
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 800;
}
form button {
  width: 100%;
  margin-left: auto;
  padding: 0.4rem 0.2rem;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: var(--yellow);
  color: var(--blue);
  font-size: 20px;
  font-weight: 800;
  transition: all 0.5s ease-in-out;
}
/* INPUT PIN */
#input_pin {
  max-width: 100%;
  margin-bottom: 20px;
  display: none;
}

#input_pin input {
  max-width: 3rem;
  text-align: center;
  font-size: 15px;
}
#input_pin h3 {
  color: var(--yellow);
  text-align: center;
  font-size: 30px;
  margin-bottom: 6px;
}
#input_num {
  display: flex;
  justify-content: center;
  gap: 8px;
}

#message {
  color: red;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  margin: 4px 0;
}

/* Chrome, Safari, Edge, Opera */
#input_pin input::-webkit-outer-spin-button,
#input_pin input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#input_pin input[type="number"] {
  -moz-appearance: textfield;
}

/* UPDATE PASSWORD */
#update_password {
  display: none;
}

@keyframes slide_in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* MEDIA QUERRY */
@media screen and (max-width: 628px) {
  nav {
    max-width: 98%;
  }

  li a {
    padding: 0 10px;
    font-size: 15px;
  }
  nav {
    padding: 0 6px;
  }
  form input {
    width: 94%;
  }
}

@media screen and (max-width: 481px) {
  li a {
    padding: 2px 8px;
    font-size: 10px;
  }
  form {
    width: 100%;
  }
  form input {
    width: 92%;
  }
  #input_num form {
    width: 100%;
  }
  #input_num input {
    width: 100%;
  }
  #input_pin {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 840px) {
  main {
    max-width: 98%;
    margin: 6rem 1rem;
  }
}
@media screen and (max-width: 366px) {
  #input_pin #input_num {
    overflow-x: scroll;
  }
  #input_pin #input_num input {
    width: 20px;
  }
  #input_pin #input_num {
    flex-wrap: wrap;
  }
}
