/* VARIABLES */
:root {
  --blue: rgb(6, 6, 175);
  --yellow: rgb(255, 174, 0);
  --darkorange: rgb(136, 69, 2);
}

/* INITIAL */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background-color: var(--yellow);
}

/* NAVIGATION */

#head {
  background-color: var(--darkorange);
  padding: 15px 20px;
  font-weight: 800;
  max-width: 98.9%;
  position: sticky;
  top: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
li a {
  padding: 0 40px;
  font-size: 20px;
  cursor: pointer;
  color: var(--yellow);
  text-decoration: none;
  transition: all 0.4s ease-in;
}
li a:hover {
  color: var(--blue);
}
/* ACCOUNT DETAILS */

#acc_details {
  border: 2px dashed var(--blue);
  margin: 8px;
  border-radius: 8px;
  padding: 10px;
  transition: all 0.6s ease-in;
}

#personal {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-weight: 900;
  border-bottom: 2px solid var(--blue);
  transition: all 0.6s ease-in;
}
.details {
  color: var(--blue);
  font-size: 20px;
  transition: all 0.6s ease-in;
}

#user_name {
  text-decoration: none;
  transition: all 0.6s ease-in;
}
#user_name:hover {
  text-decoration: underline;
  transition: all 0.6s ease-in;
}

#greet {
  margin-bottom: 10px;
  transition: all 0.6s ease-in;
}

/* PASSBOOK */
#passbook {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-top: 6px;
  transition: all 0.6s ease-in;
}

#transaction {
  height: 30rem;
  width: 60%;
  border-radius: 12px;
  background-color: rgb(255, 255, 255, 0.6);
  box-shadow: inset 1px 1px 12px 18px black;
  transition: all 0.6s ease-in;
}

#functionality {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  gap: 6px;
  transition: all 0.6s ease-in;
}

.feature {
  border: 1px solid var(--blue);
  padding: 8px 14px;
  background-color: var(--blue);
  border-radius: 10px;
  transition: all 0.6s ease-in;
}
.feature h2 {
  margin-bottom: 10px;
  text-align: center;
  color: var(--yellow);
  text-decoration: underline;
  transition: all 0.6s ease-in;
}

.function_form {
  display: flex;
  flex-direction: column;
  transition: all 0.6s ease-in;
  gap: 6px;
}

.function_form input {
  padding: 8px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  transition: all 0.6s ease-in;
}
.function_form button {
  cursor: pointer;
  margin: 6px 0;
  padding: 8px;
  background-color: var(--yellow);
  color: var(--blue);
  font-size: 15px;
  font-weight: 800;
  border: none;
  border-radius: 8px;
  transition: all 0.6s ease-in;
}
.function_form button:hover {
  background-color: var(--darkorange);
  transform: scaleY(1.1);
}

/* MEDIA QUERRY */
@media screen and (max-width: 628px) {
  nav {
    max-width: 98%;
  }
  li a {
    padding: 0 10px;
    font-size: 15px;
  }
  nav {
    padding: 0 6px;
  }
  .navigation .login {
    padding: 0 10px;
  }
}

@media screen and (max-width: 509px) {
  #personal {
    flex-direction: column;
    text-align: center;
  }
  #greet {
    margin: 15px;
  }
}

@media screen and (max-width: 1266px) {
  #passbook {
    flex-direction: column;
    gap: 4rem;
  }
  #transaction {
    width: 100%;
  }

  #functionality {
    gap: 20px;
  }
}
