/* VARIABLES */
:root {
  --blue: rgb(6, 6, 175);
  --yellow: rgb(255, 174, 0);
  --darkorange: rgb(136, 69, 2);
}

/* INITIAL */
* {
  padding: 0;
  margin: 0;
  font-family: "Truculenta", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: var(--yellow);
}

/* NAVIGATION */

#head {
  background-color: var(--darkorange);
  padding: 10px 20px;
  font-weight: 800;
  max-width: 98.9%;
  position: sticky;
  top: 0;
  transition: all 0.5s;
  z-index: 10;
}

.navigation {
  list-style: none;
  text-align: right;
}

.navigation li a {
  padding: 0 40px;
  font-size: 20px;
  cursor: pointer;
  color: var(--yellow);
  text-decoration: none;
  transition: all 0.4s ease-in;
}
.navigation li a:hover {
  color: var(--blue);
}
/* ACCOUNT DETAILS */

#acc_details {
  border: 2px dashed var(--blue);
  margin: 8px;
  border-radius: 8px;
  padding: 10px;
  transition: all 0.6s ease-in;
  animation: slide_in 0.5s;
  animation-iteration-count: 1;
}

@keyframes slide_in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#personal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  border-bottom: 2px solid var(--blue);
  transition: all 0.6s ease-in;
}
.details {
  color: var(--blue);
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
  transition: all 0.6s ease-in;
  background-color: transparent;
  border: none;
  margin-left: 5px;
}

#account_user_name {
  cursor: pointer;
}
#account_user_name:hover {
  text-decoration: underline;
}
#logout_button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: var(--yellow);
  transition: all 0.6s ease-in;
  cursor: pointer;
  font-weight: 900;
}

#logout_button:hover {
  color: rgb(184, 126, 1);
}

#greet {
  margin-bottom: 10px;
  font-size: 15px;
  transition: all 0.6s ease-in;
}

#err {
  display: none;
}

/* PASSBOOK */
#passbook {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 12px;
  margin-top: 6px;
  transition: all 0.6s ease-in;
}
#info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  margin-bottom: 0;
  border-radius: 12px 12px 0 0;
  box-shadow: inset 1px 1px 8px 2px black;
  position: sticky;
  top: 0px;
  backdrop-filter: blur(10px);
  color: var(--blue);
}

#sort_button {
  padding: 5px;
  width: 15%;
  border: none;
  border-radius: 8px;
  background-color: var(--blue);
  color: var(--yellow);
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
#sort_button:hover {
  background-color: rgb(47, 47, 247);
}

#transaction {
  height: 33.5rem;
  width: 60%;
  padding: 3px 0px;
  padding-bottom: 35px;
  border-radius: 12px;
  text-align: center;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255, 0.6);
  box-shadow: inset 1px 1px 8px 10px black;
  transition: all 0.6s ease-in;
  z-index: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#transaction table {
  max-width: 100%;
  margin: 0 auto;
}

#transaction::-webkit-scrollbar {
  display: none; /*Hide scrollbar for Chrome, Safari and Opera*/
}

.transaction_details {
  display: flex;
  justify-content: space-between;
  padding: 2.2rem;
  list-style: none;
  font-size: 20px;
  font-weight: 800;
}
table {
  width: 100%;
  padding: 1rem 1.5rem;
}
th {
  font-size: 20px;
  padding: 10px 0px; /* Add padding to the th elements */
  border: 2px solid black;
}
td {
  padding: 10px 0px; /* Add padding to the th elements */
  border: 2px solid black;
}

#functionality {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-top: 4px;
  gap: 6px;
  transition: all 0.6s ease-in;
}

.feature {
  border: 1px solid var(--blue);
  padding: 8px 14px;
  background-color: var(--blue);
  border-radius: 10px;
  transition: all 0.6s ease-in;
}
.feature h2 {
  margin-bottom: 10px;
  text-align: center;
  color: var(--yellow);
  text-decoration: underline;
  transition: all 0.6s ease-in;
}

.function_form {
  display: flex;
  flex-direction: column;
  transition: all 0.6s ease-in;
  gap: 6px;
}

.function_form input {
  padding: 8px;
  font-size: 15px;
  font-weight: 800;
  border-radius: 8px;
  border: none;
  transition: all 0.6s ease-in;
}
.function_form button {
  cursor: pointer;
  margin: 6px 0;
  padding: 8px;
  background-color: var(--yellow);
  color: var(--blue);
  font-size: 18px;
  font-weight: 800;
  border: none;
  border-radius: 8px;
  transition: all 0.6s ease-in;
}
.function_form button:hover {
  background-color: var(--darkorange);
  transform: scaleY(1.1);
}

.function_form button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.function_form input:disabled {
  color: var(--yellow);
  background-color: gray;
  cursor: not-allowed;
}

.mess {
  margin-top: 8px;
  font-size: 20px;
  color: red;
  text-align: center;
  font-weight: 900;
}

#home_button {
  display: none;
}

/* LOADING */
#loader {
  width: 2rem;
  height: 2rem;
  border: 3px solid var(--yellow);
  border-radius: 50%;
  margin: 0 auto;
  border-top-color: var(--blue);
  animation: loading 0.8s;
  animation-iteration-count: infinite;
}
@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERRY */
@media screen and (max-width: 628px) {
  nav {
    max-width: 98%;
  }
  li a {
    padding: 0 10px;
    font-size: 15px;
  }
  nav {
    padding: 0 6px;
  }
  .navigation .login {
    padding: 0 10px;
  }
}

@media screen and (max-width: 509px) {
  #personal {
    flex-direction: column;
    text-align: center;
  }
  #greet {
    margin: 15px;
  }
  #sort_button {
    width: 100%;
  }
}

@media screen and (max-width: 551px) {
  #info {
    flex-direction: column;
  }
  #info h1 {
    margin: 15px 0;
  }
}

@media screen and (max-width: 400px) {
  #acc_details {
    padding: 10px 0;
  }
  #passbook {
    padding: 12px 2px;
  }
  table {
    width: 10%;
    padding: 1rem 5px;
  }
  th {
    font-size: 16px;
    padding: 2px;
  }
  td {
    font-size: 12px;
    padding: 5px;
  }
}

@media screen and (max-width: 1266px) {
  #passbook {
    flex-direction: column;
    gap: 4rem;
  }
  #transaction {
    width: 100%;
  }

  #functionality {
    gap: 20px;
  }
}
